@import '../../Styles/Main.scss';

.filter__form {
  position: absolute;
  top: -50px;
  bottom: 0;
  height: 150px;
  width: 100%;
  border: 1px solid $orange;
}

.search__area {
  position: relative;
  width: 100%;
}