@import '../../Styles/Main.scss';

.callToAction__background {
  background: linear-gradient(0deg, rgba(0, 112, 215, 0.53), rgba(0, 112, 215, 0.53)), url('../../Assets/sprint-court3.jpeg');
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}