@import '../../Styles/Main.scss';

.footer__background {
  background-color: $black;
  color: $white;
}

.transparent__logo {
  background-color: $white;
  padding: 15px;
}

.social__icon {
  font-size: 32px;
}